<div class='container'>
	<h1>New comic</h1>
	<div class='col-md-4'></div>
	<div class='col-md-4'>
		<%= form_for :comic do |f| %>
			<%= f.hidden_field :user_id, value: session_user.id %>
			<%= f.label :background_color %><br>
			<%= f.text_field :background_color, style: 'height:2em', class: 'minicolors form-control'%><br>
			<%= f.label :style %><br>
			<%= f.select :style, ["VERTICAL","HORIZONTAL"] %><br>
			<%= f.label :icon %><br>
			<%= f.file_field :icon, class: 'file' %><br>
			<%= f.label :cover %><br>
			<%= f.file_field :cover, class: 'file' %><br>
			<%= f.label :name %><br>
			<%= f.text_field :name, class: 'form-control' %><br>
			<%= f.label :description %><br>
			<%= f.text_area :description, class: 'form-control' %><br>
			<%= f.submit :register, class: 'btn btn-default' %>
		<% end %>
	</div>
	<div class='col-md-4'></div>
</div>
